@page "/person"

<h1>Random person data</h1>

<p>TODO: Implement generating random person data (including an image). Also provide methods for converting the data to JSON (and possibly table format). Images can be converted to base64</p>

@code {

}
