@page "/uid"

<div class="uid-content">
    <h1>Unique identifiers</h1>

    <p>
        Below you will find a randomly generated GUID in various formats.
        If you want to generate a new one, press the button below.
        You can also paste in your own GUID in one of the fields below (depending on the format of your GUID) to convert it into the other formats.
    </p>
    <div class="form">
        <label for="guidIO">
            Normal format
        </label>
        <input id="guidIO" @bind="GuidNormalFormat" type="text" />
        <label for="hexIO">
            Hexadecimal
        </label>
        <input id="hexIO" @bind="GuidHexaDecimalFormat" type="text" />
        <label for="base64IO">
            Base 64
        </label>
        <input id="hexIO" @bind="GuidBase64Format" type="text" />

        <button @onclick="GenerateGuid">
            Generate a new GUID
        </button>
    </div>
    <style>
        .uid-content {
            max-width: 500px;
        }
    </style>
</div>
